// themes - our custom or/and out of the box themes
@import "themes";

// framework component themes (styles tied to theme variables)
@import "~@nebular/theme/styles/globals";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/grid";

// $fa-font-path: '../../../../node_modules/font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';

// loading progress bar theme
@import "./pace.theme";

@import "./layout";
@import "./overrides";


// install the framework and custom global styles
@include nb-install() {
  // framework global styles
  @include nb-theme-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 1rem !important;
  height: 1rem !important;
}

::-webkit-scrollbar-thumb {
  background: #b7b3b3 !important;
  border-radius: 1 / 2 !important;
}

::-webkit-scrollbar-track {
  background: #b7b3b3;
}

.full-screen {
  height: 100vh !important;
  width: 100vw !important;
}

.full-screen nb-card {
  height: 100vh !important;
  width: 100vw !important;
}

.fa-smile-o:before {
  content: "" !important;
}

.fa-star:before {
  content: "" !important;
}
formio-alerts .ng-star-inserted {
  display: none;
}